@import "reset"; // обнуляющие стили
@import "fonts";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "vars"; // переменные
@import "mixins"; // миксины
/*=========================================================================*/
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
	@media (max-width:1550px) {
		flex-wrap: wrap;
	}
  }

  &__logo {
    margin-right: 50px;
  }

  &__socials {
    display: flex;
    margin-right: 60px;
  }

  &__socials-item {
    margin-right: 15px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.4);
    }
    &:last-child {
      margin-right: 0;
    }
  }

  &__socials-link {
  }

  &__nav {
    display: flex;
	flex:1 0 auto;
    width: 100%;
    max-width: 500px;
	margin-right: auto;
  }
  

  &__nav-list {
    display: flex;
  }

  &__nav-item {
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
    color: #aaaaaa;
    display: flex;
    min-width: 40px;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__nav-link {
    &:focus {
      color: #01678a;
    }
  }

  &__adress {
    position: relative;
    margin-right: 20px;
	display: block;
    min-width: 120px;
	margin-left: 15px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 50%;
      left: -34px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url("../images/icons/mini-location-icon.svg");
    }
  }

  &__adress-text {
    
    font-size: 15px;
    line-height: 17px;
    color: #474747;

	
  }

  &__time {
    margin-right: 40px;
	
    white-space: nowrap;
    padding-left: 35px;
    position: relative;
    font-family: "Panton";
    font-size: 15px;
    line-height: 18px;
    color: #12354B;
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-image: url("../images/icons/calendar-icon.svg");
    }
  }

  &__time-days {
	margin-left: 10px;
    color: #919191;
	  font-family: "Panton";
  }

  &__phone {
    display: block;
	position: relative;
    min-width: 160px;
    font-family: "Panton-Bold";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #3c3c3c;
	&::before{
		content: "";
      display: block;
      position: absolute;
      width: 19px;
      height: 19px;
      top: 50%;
      left: -15%;
      transform: translateY(-50%);
      background: url("../images/icons/phone-icon.svg") 0 0/100% no-repeat ;
	}
  }

  &__btn {
    display: inline-block;
    padding: 11px 35px;
    background: #38bcea;
    border-radius: 3px;
    font-family: "Roboto";
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    white-space: nowrap;
  }
}

.logo {
}
.main {
}
.footer {
}
